body {
	margin: 0;
	padding: 0px;
}
.list {
	margin: 0;
	padding: 0;
}
input {
	margin: 0px;
	border: 1px solid grey;
	border-radius: 0 0 0 0px;
	outline: none;
	display: inline-block;
}
button {
	background: linear-gradient(0deg, #d0d0d0, #edeef0);
	border: 1px solid grey;
	border-radius: 0 0 0 0px;
}
	button:active {
		outline: 1px solid blue;
	}
